/*styling div main container*/
div#divmaincontainer{
width:80%; 
  margin:auto; 
  /*border: 1px solid turquoise;*/
}

  /*stying the header of the site*/
  header#siteheader{
    width:100%;
    height:150px;
    background-image:linear-gradient(greenyellow,cyan,teal);
    border:1px solid darkgrey;
    border-radius:10px 10px 0 0;
    padding:20px;
}

/*stying site title*/
h1#sitetitle{
  font-family:Arial;
  font-size:32px;
  color:orange;
}
